<!DOCTYPE html>
<html>
<head>
    <title>Identification-of-an-Abrasive-Material-Based-on-Client-Applications</title>
</head>
<body>
    <h1>Welcome to My Project!</h1>
    <p>This is a simple project created with Spring Boot and Maven.</p>
    <p>Identification-of-an-Abrasive-Material-Based-on-Client-Applications/
├── src/
│   ├── main/
│   │   ├── java/
│   │   │   ├── com/
│   │   │   │   └── yourusername/
│   │   │   │       └── yourproject/
│   │   │   │           ├── AbrasiveMaterialApplication.java
│   │   │   │           ├── model/
│   │   │   │           │   ├── AbrasiveMaterial.java
│   │   │   │           │   └── ClientApplication.java
│   │   │   │           ├── service/
│   │   │   │           │   └── AbrasiveMaterialService.java
│   │   │   │           └── repository/
│   │   │   │               └── AbrasiveMaterialRepository.java
│   ├── resources/
│   └── test/
└── pom.xml</p>
    <ul>
        <li>GroupId: com.NayckulB</li>
        <li>ArtifactId: abrasive</li>
        <li>Versiune: 1.0-SNAPSHOT</li>
        <li>Descriere: Proiect pentru Spring Boot</li>
        <li>Versiune Java: 17</li>
        <li>Versiune Spring Boot: 3.1.5</li>
    </ul>
</body>
</html>